body, html {
    margin: 0;
    padding: 0;
}

/* variables couleurs */
:root {
    --sub-background: #F3F2F1;
    --sub-color-text: #595959;
    --color-warning: #C03435;
}

/* card offres */
.card {
    position: relative;
}

.container-info-more {
    background-color: var(--sub-background);
    padding: 3px 7px;
    border-radius: 5px;
}

.container-info-more span {
    color: var(--sub-color-text);

}

.btn-voir-offre {
    padding: 7px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* bouton ajouter une offre */
.btn-add-card {
    position: fixed;
    bottom: 70px;
    right: 70px;
}

/* btn supprimer une offre */
.btn-delete-offers {
    background-color: var(--color-warning);
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.icon-xmark-close {
    width: 20px;
    fill: white;
}

/* taille formulaire modification offres */
.champ-form-size {
    width: 32%;
}

/* footer */
.footer-site {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}